<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavly Gerges - Resume</title>
    <link rel="stylesheet" href="./lib/styles.css">
</head>
<header>
<div class="header-container">
    <img src="https://avatars.githubusercontent.com/u/60224159?v=4" alt="Pavly Gerges" class="avatar">
    <div class="header-info">
        <h1>Pavly Gerges</h1>
        <p>Email: <a href="mailto:pepogerges33@gmail.com">pepogerges33@gmail.com</a></p>
        <p>Phone: +2 01011912807</p>
        <p>Electrostat-Lab: <a href="https://github.com/Electrostat-Lab" target="_blank">GitHub Organization</a></p>
        <p>GitHub: <a href="https://github.com/pavly-gerges">pavly-gerges</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/pavly-gerges-420b81228/">Pavly Gerges</a></p>
        <p>YouTube: <a href="https://www.youtube.com/@pavlg3944">Tutorials and Techdemos</a></p>
    </div>
</div>
</header>
<body>
    <div class="container">
        {{ content }}
    </div>
</body>
<footer>
  <p>&copy; <a href="https://github.com/pavly-gerges/pavly-gerges/blob/main/LICENSE">2024 Electrostat-Lab BSD-3 Clause License.</a>
  </p>
</footer>
</html>
